body {
	font-family: 'Open Sans', sans-serif;
	background-color: #f5f9fc;
	padding: 50px;

	main {
		max-width: 1000px;
		margin: 0 auto;
	}

	h1, h2 {
		font-weight: 300;
	}

	.results {
		color: #7a92a5;
		font-size: 14px;
		margin: 12px 5px;
	}

	header {
		width: 1000px;
		border-radius: 6px;
		background-color: #fff;
		box-shadow: 0 2px 6px 1px #e1e5e8;
		margin-bottom: 14px;
		border: 1px solid #fff;
		padding: 10px 10px;
		position: relative;

		input {
			width: 980px;
			padding: 4px;
			text-overflow: ellipsis;
			display: inline-block;
			color: #20455e;
			font-size: 14px;
			outline: 0;
			transition: border .1s ease;
			resize: none;
			border: none;

			&::placeholder  {
				color: #b6c1cd;
			}
		}
	}

	.orders {
		margin: 0;
		padding: 0;

		.orderCard {
			position: relative;
			width: 980px;
			border-radius: 8px;
			background-color: white;
			box-shadow: 0 2px 6px 1px #e1e5e8;
			margin: 0 -1px 14px -1px;
			border: 1px solid #fff;
			padding: 10px 20px;
			transition: box-shadow .2s ease-in-out;

			&:hover {
				box-shadow: 0 2px 6px 1px #a5a5a5;
			}

			.generalData {
				padding-top: 6px;
				display: inline-block;
				width: 45%;
			}

			.fulfillmentData {
				display: inline-block;
				vertical-align: top;
				width: 25%;
			}

			.paymentData {
				display: inline-block;
				text-align: end;
				width: 30%;
			}

		}
	}

	h4 {
		font-size: 14px;
		font-weight: 300;
		color: #7a92a5;
		margin: 4px 0;
	}

	h5 {
		font-size: 12px;
		font-weight: 300;
		color: #7a92a5;
		margin: 0;
	}

	h6 {
		font-size: 10px;
		font-weight: 400;
		color: #7a92a5;
		margin: 0;
	}

	img {
		margin-top: 4px;
	}


	a {
		display: block;
		cursor: pointer;
		color: #3899ec;
		font-weight: 500;
		font-size: 12px;
	}
}
